.odd-number {
    background-color: rgb(233, 187, 187);
    font-family: Verdana, Dejavu Sans, sans-serif;
}

#number-2 {
    font-size: 36px;
    color: rgb(36, 36, 217);
}

#number-4 {
    background-color: rgb(89, 230, 89);
    font-size: 24px;
    font-weight: bold;
}

.big {
    font-size: 24px;
}